{%- set values = data[field.field_name] -%}
{%- set choices = [] -%}

{%- for choice in h.scheming_field_choices(field) -%}
    {%- if choice.value in values -%}
      {%- do choices.append({
        'label': h.scheming_language_text(choice.label),
        'url': h.scheming_language_text(choice.url)
      }) -%}
    {%- endif -%}
{%- endfor -%}

{%- if choices|length == 1 -%}
    {%- if choices[0].url != '' -%}
        <a href="{{ choices[0]['url'] }}" target="_blank">{{ choices[0]['label'] }}</a>
    {%- else -%}
        {{ choices[0]['label'] }}
    {%- endif -%}
{%- else -%}
    {%- if field.get('sorted_choices') -%}
        {%- set choices = choices|sort(attribute='label') -%}
    {%- endif -%}
    <ul>
    {%- for choice in choices -%}
        {%- if choices.url != '' -%}
            <a href="{{ choice['url'] }}" target="_blank">{{ choice['label'] }}</a>
        {%- else -%}
            {{ choice['label'] }}
        {%- endif -%}
    {%- endfor -%}
    </ul>
{%- endif -%}
