{% trans %}
<hr>
{{ site_title }} - Invitation
<hr>

<h2>Hello, {{ user_name }}!</h2>

<p>We're pleased to invite you to {{ site_title }}.</p>

<h3>Account Details:</h3>
<ul>
    <li>
        Username: {{ user_name }} (You can modify this later.)
    </li>
    <li>
        Group: {{ group_title }}
    </li>
    <li>
        Type: {{ group_type }}
    </li>
    <li>
        Role: {{ role_name }}
    </li>
</ul>

<p>To activate your account, please set your password here:</p>
<p>Reset Password: (<a href="{{ reset_link }}">{{ reset_link }}</a>)</p>

<p>Wishing you a wonderful day!</p>

<hr>
{{ site_title }}
{{ site_url }}
<hr>
{% endtrans %}